# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.whl

# Virtual environment
venv/
env/
ENV/
.venv/
.env/
.env

# AWS SAM
.aws-sam/
*.template.yaml

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Miscellaneous
*.DS_Store
*.swp
*.swo

# Zip and Git files
*.zip
*.git

# Compiled python files
*.so
*.pyd
*.dll

# Dependencies
dependencies/

# Docker
.dockerignore

# Database
*.db
*.sqlite3

# Configuration and credentials
google-tts-key.json
env.json
.env.example
.python-version
pyrightconfig.json

# Build artifacts
your_database.db

.cursor