alembic
annotated-types
anyio
boto3
botocore
cachetools
certifi
charset-normalizer
click
dnspython
email-validator
fastapi==0.99.0
google-api-core
google-auth
google-cloud-texttospeech
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
jmespath
Mako
mangum==0.11.0
MarkupSafe
orjson
proto-plus
protobuf
pyasn1
pyasn1-modules
pydantic==1.10.9
pydantic-core
PyMySQL
python-dateutil
python-dotenv
python-multipart
PyYAML
requests
rsa
s3transfer
six
sniffio
starlette
typing-extensions
ujson
urllib3
uvicorn
uvloop
watchfiles
websockets